<!--
  Generated template for the UserRegistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>user-regist</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form (submit)="doRegist()">
    <ion-list>

      <ion-item>
        <ion-label fixed>User</ion-label>
        <ion-input [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>EMail</ion-label>
        <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Role</ion-label>
        <ion-select [(ngModel)]="account.role" interface="popover" name="role">
            <ion-option value="manager">Manager</ion-option>
            <ion-option value="sales">Sales</ion-option>
          </ion-select>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block>Regist</button>
      </div>

    </ion-list>
  </form>

</ion-content>
