<ion-header>
  
    <ion-navbar>
      <ion-title>LOGIN</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content>
    <form (submit)="doLogin()">
      <ion-list>
  
        <ion-item>
          <ion-label fixed>User</ion-label>
          <ion-input [(ngModel)]="account.username" name="username"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label fixed>Password</ion-label>
          <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
        </ion-item>
  
        <div padding>
          <button ion-button color="primary" block>Login</button>
        </div>
  
      </ion-list>
    </form>
  </ion-content>
  
