<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>menu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div padding>
    <button ion-button color="danger" block (click)="doLogout()">Logout</button>
  </div>
  <div padding>
    <button ion-button color="secondary" block (click)="doRequest()">API Gateway</button>
  </div>
  <div padding>
    <button ion-button color="secondary" block (click)="doGetUser()">get user</button>
  </div>
  <div padding>
    <button ion-button color="secondary" block (click)="popUserRegist()">Regist User</button>
  </div>

</ion-content>
